:root {
  --Background: #242424;
  --corBackground: #ddd;
  --corHover: rgba(0,0,0,.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background: var(--Background); */
}

.box {
  /* font-size: 3rem; */
  padding: 2rem;
  background: var(--corBackground);
  border-radius: 8px;
  text-align: center;
}

.box:hover {
  background: var(--corHover);
  color:white;
}
